
@{
    ViewData["Title"] = "Index";
}

    <div class="jumbotron text-center" id="contained">
        <div class="panel-body" id="content">
            <h1>
                @ViewBag.Greeting Dear Visitor
            </h1>
            <h2>Welcome To Your Recipe Book</h2>
            <br />
            <br />
            <a class="btn btn-primary btn-group-lg" asp-action="List">See your Recipes</a>
        </div>
    </div>

