
@{
    ViewData["Title"] = "ReviewRecipe";
}

    <div class="container bg-info">
        <h1 class="label-info" id="h1Format"><b>Review This Recipe</b></h1>
        <h3>Thank You For Your Feedback!</h3>

        <form class="form-group">
            <div>
                <textarea class="form-control" id="review" cols="50" rows="8"></textarea>
            </div>
            <br />
            <div>
                <button class="btn btn-primary" type="submit">Submit Review</button>
            </div>
        </form>
    </div>
