@model Ingredient

<div class="form-group-sm col-sm-2">
    <label class="labelled">Amount: </label>
    <input asp-for="Amount" class="form-control" id="Description" />
    <div><span class="input-validation-error" asp-validation-for="Amount"></span></div>
</div>
<div class="form-group-sm col-sm-5">
    <label class="labelled">Unit Of Measure: </label>
    <select asp-for="Unit" class="form-control dropdown" id="Unit">
        <option value="Tsp">Teaspoon Tsp</option>
        <option value="Tbsp">Tablespoon Tbsp</option>
        <option value="Cup">Cup</option>
        <option value="Oz">Ounce Oz</option>
        <option value="Lb">Pound Lb</option>
        <option value="Kg">Kilogram Kg</option>
        <option value="g">Gram g</option>
        <option value="mg">Miligram mg</option>
        <option value="Pinch">Pinch</option>
        <option value="L">Liter L</option>
        <option value="ml">Mililter mL</option>
        <option value="Gal">Gallon</option>
        <option value="Dash">Dash</option>
        <option value="Qt">Quart</option>
        <option value="Whole">Whole</option>
        <option value="Part">Part</option>
    </select>
    <div><span class="input-validation-error" asp-validation-for="Unit"></span></div>
</div>
<div class="form-group-sm col-sm-5">
    <label class="labelled">Ingredient Name: </label>
    <input asp-for="Name" class="form-control" id="Name" />
    <div><span class="input-validation-error" asp-validation-for="Name"></span></div>
</div>